<%= form_tag sessions_path do %>
  <legend> Log In</legend>
  <p>
    <%= label_tag :email_address, 'Email Address' %>
	<%= text_field_tag :email_address, params[:email_address] %>
  </p>
  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>
  <p class="button"><input class="btn btn-primary" name="commit" type="submit" value="Sign In" /> or <%= link_to "Sign up for an account", "/sign_up", :class=>"btn" %></p>
<% end %>
