<div class="container-fluid">

<%= form_for(@user) do |f| %>

	<%#This segment is to inform the user of input errors%>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
  


	<%#This segment is for actual user input fields%>
	<div class="row">
		<div class="span6">
		  <div class="field">
			<%= f.label :first_name %>
			<%= f.text_field :first_name %>
		  </div>
		</div>
		<div class="span6">
		  <div class="field">
			<%= f.label :last_name %>
			<%= f.text_field :last_name %>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
		  <div class="field">
			<%= f.label :address %>
			<%= f.text_field :address %>
		  </div>
		</div>
		<div class="span6">
		  <div class="field">
			<%= f.label :city %>
			<%= f.text_field :city %>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
		  <div class="field">
			<%= f.label :state %>
			<%= f.text_field :state %>
		  </div>
		</div>
		<div class="span6">
		  <div class="field">
			<%= f.label :zipcode %>
			<%= f.text_field :zipcode %>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
		  <div class="field">
			<%= f.label :country %>
			<%= f.text_field :country %>
		  </div>
		</div>
		<div class="span6">
		  <div class="field">
			<%= f.label :email_address %>
			<%= f.text_field :email_address %>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
		  <div class="field">
			<%= f.label :password %>
			<%= f.password_field :password %>
		  </div>
		</div>
		<div class="span6">
		  <div class="field">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
		  <div class="field">
			<%= f.label :credit_card %>
			<%= f.text_field :credit_card %>
		  </div>
		</div>
		<div class="span6">
		  <div class="field">
			<%= f.label :phone_number %>
			<%= f.text_field :phone_number %>
		  </div>
		</div>
	</div>
	<%#enable this if statement once this field is no longer needed %>
	<%# if @current_user && @current_user.user_type.user_types_edit %>
		<div class="row">
		  <div class="field">
			<%= f.label :user_type_id %>
			<%= f.collection_select(:user_type_id, UserType.all, :id, :name) %>
		  </div>
		</div>
	<%# end %>
	<div class="row">
	  <div class="actions">
		<%= f.submit :class => 'btn btn-primary' %>
	  </div>
	</div>
<% end %>
</div>