<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Address</th>
    <th>City</th>
    <th>Zipcode</th>
    <th>Email address</th>
    <th>Hashed password</th>
    <th>Password Salt</th>
    <th>Credit card</th>
    <th>Phone number</th>
    <th>User type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.address %></td>
    <td><%= user.city %></td>
    <td><%= user.zipcode %></td>
    <td><%= user.email_address %></td>
    <td><%= user.hashed_password %></td>
    <td><%= user.password_salt %></td>
    <td><%= user.credit_card %></td>
    <td><%= user.phone_number %></td>
    <td><%= user.user_type_id %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
