<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @user.zipcode %>
</p>

<p>
  <b>Email address:</b>
  <%= @user.email_address %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Credit card:</b>
  <%= @user.credit_card %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>

<p>
  <b>User type:</b>
  <%= @user.user_type_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
