
	<h1>This is now the product page!</h1>
	<p>Find me in app/views/home/index.html.erb</p>

	<br>
	<p>
	The model is split into two groups.  Scaffolding that is needed
	  and Scaffolding that is not.  For the models with needed Scaffolding
	  the views and controllers will stay in place as we move forward.
	</p>
	<p>
	  Basically I generated scaffolding for everything so it is easy for us to enter
	  in test data and make sure things are working.  Some models will be managed
	  completely by controllers so the scaffolding will be removed once we get
	  that code working.
	</p>

	<h2>Models with Needed Scaffolding</h2>
	<%= link_to "Products", products_path %>
	<br>
	<%= link_to "Users", users_path %>
	<br>
	<%= link_to "User Types", user_types_path %>
	<br>
	<%= link_to "Help Items", help_items_path %>

	<br>
	  
	<h2>Models with Scaffolding that Will be Removed</h2>
	<%= link_to "Orders", orders_path %>
	<br>
	<%= link_to "Order Items", order_items_path %>
	<br>
	<%= link_to "Groups", groups_path %>
	<br>
	<%= link_to "Keywords", keywords_path %>

	<br>
	<br>
	  <strong>Note:</strong> Just a thought, maybe we do not need a "cart" model.  Maybe
	  the "cart" is just the "order" that is not marked as complete?  Could simplify things.
	<br>

	<h2>Random Model Tests</h2>
	User to User Type Test
	<br>

	<br>
	<br>
	User to Product from Order Test
