<legend>My Shopping Cart</legend>

<% subTotal = 0 %>
<% emptyCart0 = true %>

<div>
  	<table border="0" cellspacing="0" class="table table-bordered table-striped"> 
  		<tbody>
		  
  			<tr>
  				<th class="left" id="CartHeaderQty"> Qty. </th>
				<th class="left" id="CartHeaderDesc" style="width: 50%;"> Product(s) </th>
				<th class="left" id="CartHeaderPrice"> Price </th>
				<th class="left" id="CartHeaderTotalPrice"> Total Price </th>
  			</tr>
			
	<% itemstotal = 0 %>
	<% itemsTotalPrice = 0 %>

	<% @order.order_items.each do |order_item| %>
		    	
  			<tr>
  				<td class="left"> 
					<strong><%= order_item.quantity %></strong>
					<% if !@order.purchased %>
					<div class="btn-group" >
						<%= link_to "+", "/orders/add/#{order_item.product.id}", :class => "btn btn-mini", :title => "Add 1" %>
						<%= link_to "-", "/orders/remove/#{order_item.product.id}", :class => "btn btn-mini", :title => "Remove 1" %>
						<%= link_to "x", "/orders/removeall/#{order_item.product.id}", :class => "btn btn-mini", :title => "Remove All" %>
					</div>
					<% end %>
				</td>
  				<td class="left">
				        <%= link_to image_tag(order_item.product.image.url(:small), :class => "image_thumbnail"), order_item.product %>
  					<%= link_to order_item.product.name, order_item.product %>
  				</td>
				<td><strong><%= number_with_precision(order_item.product.price, :precision => 2) %></strong></td>
			<!-- <%= link_to number_with_precision(itemsTotalPrice = order_item.product.price * order_item.quantity,  :precision => 2), order_item.product %> -->
				<td class="left"><b>$<%= number_with_precision(itemsTotalPrice, :precision => 2) %></b></td>
  			</tr>
		    
	<% itemstotal += order_item.quantity %>
	<% if itemstotal > 0 then emptyCart0 = false else emptyCart0 = true %>
	<% end %>
	<% subTotal += itemsTotalPrice %>
	<% end %>
      <tr>
	    <td><strong><%= itemstotal %></strong></td>
	    <td>&nbsp</td>
	    <td>&nbsp</td>
	    <td><b>SubTotal: $<%= number_with_precision(subTotal, :precision => 2) %></b></td>
	    <% @order.total_price = subTotal %>
      </tr>
       
    <br> 
	    </tbody>
       </table>
 <br>
  
        
  <% if emptyCart0 == true %>
	 <p><b>Your cart is empty at this time</b></p>
  <% end %>

   <table>
      <tr>
	    <td>
	    <% if emptyCart0 == false %>
	    <%= link_to "CheckOut", @order, :class => "btn btn-warning" %>
	    <% end %>
          </td>
      </tr>
   </table>
   
 <br>
 <br>

   <div>
      <%= link_to 'Continue Shopping', orders_path, :class => "btn btn-small" %> 
       
      <% if emptyCart0 == false %><b>|</b>
      <%= link_to "Cancel Order", @order, :method => :delete,
      data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-warning" %>
      <% end %>
   </div>
</div>