<h4>My Shopping Cart</h4>

<%= render 'form' %>

<br>

<h5>Items in this order</h5>

  <div>
  	<table border="0" cellspacing="0" class="table table-striped">
  		<tbody>
  			<!-- <tr class="cartHeader"> </tr> -->
  			<tr>
  				<!-- <th class="cartSelect" id="CartHeaderSelect"> -->
  				<th><input type="checkbox" title="Select all items">
  					<label for="chkItemHeader"><span style="display: none;">Select all items</span></label>
  				</th>
  				<th class="cartQty" id="CartHeaderQty"> Qty. </th>
				<th class="cartDescription" id="CartHeaderDesc" style="width: 70%;"> Product Description </th>
				<th class="cartPrice" id="CartHeaderPrice"> Item Total Price	</th>
  			</tr>
<!--	</tbody>  			
  	</table>    -->
	<% itemstotal = 0 %>
	<% itemstotalPrice = 0 %>
	<% @order.order_items.each do |order_item| %>
<!--  	<table border="0" cellspacing="0" class="table"> 
  		<tbody> -->  		
  			<tr>
  				<td class="cartSelect"> <input type="checkbox"></td>
  				<td class="cartQty"> <input value=<%= order_item.quantity %> type="text" tabindex="1" size="2" maxlength="2"></td>
  				<td class="cartDescription">
  					<%= link_to image_tag("/assets/#{product.image}", :class => ""), product %>
  					<%= link_to order_item.product.name, order_item.product %>
  				</td>
  				<td><% itemstotalPrice = order_item.quantity * 89.50 %></td>
  			</tr>
    <!-- <strong>Name: </strong><%= link_to order_item.product.name, order_item.product %> -->
    <br>
    <!-- <strong>Quantity: </strong><%= order_item.quantity %> -->
    </tbody>
    </table>    
    <% itemstotal += order_item.quantity %>
    <br>
    <%= link_to "Add another", "/orders/add/#{order_item.product.id}" %>
    <br>
    <%= link_to "Remove one", "/orders/remove/#{order_item.product.id}" %>
    <br>
    <%= link_to "Remove all", "/orders/removeall/#{order_item.product.id}" %>
    <br>
    <%= link_to "Change quantity to 5", "/orders/updateqty/#{order_item.product.id}/5" %>
    <br> 
<!--  </div> -->
  <br>
<% end %>

<br>
  <% if itemstotal > 0 %>
    <%= link_to "Check Out", "/orders/purchase/#{@order.id}" %>
  <% end %>  

<br> 
<br>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
  </div>