<legend>My Shopping Cart</legend>

<% subTotal = 0 %>
<% emptyCart0 = true %>

<div>
       <table border="0" cellspacing="0" class="table table-bordered table-striped"> 
  	    <tbody>
		  
  			<tr>
  				<th class="left" id="CartHeaderQty"> Qty. </th>
				<th class="left" id="CartHeaderDesc" style="width: 50%;"> Product(s) </th>
				<th class="left" id="CartHeaderPrice"> Price </th>
				<th class="left" id="CartHeaderTotalPrice"> Total Price </th>
  			</tr>
			
	<% itemstotal = 0 %>
	<% itemsTotalPrice = 0 %>
        <% itemsTotalSale = 0 %>

      <% @order.order_items.each do |order_item| %>
		    	
  			<tr>
  				<td class="left"> 
					<strong><%= order_item.quantity %></strong>
				    <% if !@order.purchased %>
					<div class="btn-group" >
						<%= link_to "+", "/orders/add/#{order_item.product.id}", :class => "btn btn-mini", :title => "Add 1" %>
						<%= link_to "-", "/orders/remove/#{order_item.product.id}", :class => "btn btn-mini", :title => "Remove 1" %>
						<%= link_to "x", "/orders/removeall/#{order_item.product.id}", :class => "btn btn-mini", :title => "Remove All" %>
					</div>
				    <% end %>
				</td>
  				<td class="left">
				        <%= link_to image_tag(order_item.product.image.url(:small)), order_item.product %>
  					<%= link_to order_item.product.name, order_item.product %>
  				</td>
				<td><strong>
                                <% if (order_item.product.sale_price) %>
                                  <font color='red'>$<%= number_with_precision(order_item.product.sale_price, :precision => 2) %></font>
                                  <% itemsTotalSale = itemsTotalSale + ((order_item.product.price-order_item.product.sale_price) * order_item.quantity)%>
                                  <% itemsTotalPrice = order_item.product.sale_price * order_item.quantity %>
                                <% else %>
                                $<%= number_with_precision(order_item.product.price, :precision => 2) %>
                                  <% itemsTotalPrice = order_item.product.price * order_item.quantity %>
                                <% end %>
                                  </strong></td>
                                <td class="left"><b>$<%= number_with_precision(itemsTotalPrice, :precision => 2) %></b></td>
  			</tr>
		    
	<% itemstotal += order_item.quantity %>
	<% if itemstotal > 0 then emptyCart0 = false else emptyCart0 = true %>
	<% end %>
	<% subTotal += itemsTotalPrice %>
      <% end %> <!-- Loop -->
      <tr>
	    <td><strong><%= itemstotal %></strong></td>
	    <td>&nbsp</td>
	    <td>&nbsp</td>
	    <td><b>SubTotal: $<%= number_with_precision(subTotal, :precision => 2) %></b>
            <% if (itemsTotalSale > 0) %>
              <b><font color='red'></br>Total Savings: $<%= number_with_precision(itemsTotalSale, :precision => 2) %></b></font>
            
            <% end %>
            </td>
	    <% @order.total_price = subTotal %>
      </tr>
       
 <br> 
	    </tbody>
       </table>
 <br>
  
        
  <% if emptyCart0 == true %>
	 <p><b>Your cart is empty at this time</b></p>
  <% end %>

   <table>
      <tr>
	    <td>
	    <% if emptyCart0 == false %>
	    <%= link_to "CheckOut", @order, :class => "btn btn-warning" %>
	    <% end %>
          </td>
      </tr>
   </table>
   
 <br>
 <br>
   <div>
      <%= link_to 'Continue Shopping', get_location_else(orders_path), :class => "btn btn-small" %> 
       
      <% if emptyCart0 == false %>
      <%= link_to "Cancel Order", @order, :method => :delete,
      data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-warning" %>
      <% end %>
   </div>
</div>