<legend>My Shopping Cart</legend>

<% subTotal = 0 %>
<% emptyCart0 = true %>
<% shipTo = 0 %>
<% shipTotal = 0 %>
<% ship0  = 0 %>
<% ship1  = 0 %>
<% ship2  = 0 %>
<% ship3  = 0 %>
<% ship4  = 0 %>
<% ship5  = 0 %>
<% ship6  = 0 %>
<% shipping = false %>

<script>
      var SHIPTOTAL = {};
      
      SHIPTOTAL.shipCost = <%= shipTotal %>;
	    
      
</script>

<div>
       <table border="0" cellspacing="0" class="table table-bordered table-striped"> 
  	    <tbody>
		  
  			<tr>
  				<th class="left" id="CartHeaderQty"> Qty. </th>
				<th class="left" id="CartHeaderDesc" style="width: 50%;"> Product(s) </th>
				<th class="left" id="CartHeaderPrice"> Price </th>
				<th class="left" id="CartHeaderTotalPrice"> Total Price </th>
  			</tr>
			
	<% itemstotal = 0 %>
	<% itemsTotalPrice = 0 %>
        <% itemsTotalSale = 0 %>
	<% items = 0 %>

      <% @order.order_items.each do |order_item| %>
      <% items = order_item %>
		    	
  			<tr>
  				<td class="left"> 
					<strong><%= order_item.quantity %></strong>
				    <% if !@order.purchased %>
					<div class="btn-group" >
						<%= link_to "+", "/orders/add/#{order_item.product.id}", :class => "btn btn-mini", :title => "Add 1" %>
						<%= link_to "-", "/orders/remove/#{order_item.product.id}", :class => "btn btn-mini", :title => "Remove 1" %>
						<%= link_to "x", "/orders/removeall/#{order_item.product.id}", :class => "btn btn-mini", :title => "Remove All" %>
					</div>
				    <% end %>
				</td>
  				<td class="left">
				        <%= link_to image_tag(order_item.product.image.url(:small)), order_item.product %>
  					<%= link_to order_item.product.name, order_item.product %>
  				</td>
				<td><strong>
                                <% if (order_item.product.sale_price) %>
                                  <font color='red'>$<%= number_with_precision(order_item.product.sale_price, :precision => 2) %></font>
                                  <% itemsTotalSale = itemsTotalSale + ((order_item.product.price-order_item.product.sale_price) * order_item.quantity)%>
                                  <% itemsTotalPrice = order_item.product.sale_price * order_item.quantity %>
                                <% else %>
                                $<%= number_with_precision(order_item.product.price, :precision => 2) %>
                                  <% itemsTotalPrice = order_item.product.price * order_item.quantity %>
                                <% end %>
                                  </strong></td>
                                <td class="left"><b>$<%= number_with_precision(itemsTotalPrice, :precision => 2) %></b></td>
  			</tr>
		    
	<% itemstotal += order_item.quantity %>
	<% link_to shipTo = order_item.product.ship_prices_for(@current_user) %>
	<% ship0 += shipTo[0][1] %>
	<% ship1 += shipTo[0][1] %>
	<% ship2 += shipTo[1][1] %>
	<% ship3 += shipTo[2][1] %>
	<% ship4 += shipTo[4][1] %>
	<% ship5 += shipTo[5][1] %>
	<% ship6 += shipTo[6][1] %>
	<% if itemstotal > 0 then emptyCart0 = false else emptyCart0 = true %>
	<% end %>
	<% subTotal += itemsTotalPrice %>
      <% end %> <!-- Loop -->
      <tr>
	    <td><strong><%= itemstotal %></strong></td>
	    <td>&nbsp</td>
	    <td>&nbsp</td>
	    <td><b>SubTotal: $<%= number_with_precision(subTotal, :precision => 2) %></b>
            <% if (itemsTotalSale > 0) %>
              <b><font color='red'></br>Total Savings: $<%= number_with_precision(itemsTotalSale, :precision => 2) %></b></font>
            
            <% end %>
            </td>
	    <% @order.total_price = subTotal %>
      </tr>
       
 <br> 
	    </tbody>
       </table>
 <br>
  
        
  <% if emptyCart0 == true %>
	 <p><b>Your cart is empty at this time</b></p>
  <% end %>

  
   <table>
      <tr>
	    <td>
	    <% if emptyCart0 == false %>
	    <%= link_to "CheckOut", @order, :class => "btn btn-warning" %>
	    
	    <% end %>
          </td>
      
      </tr>
      <tr>
	    <% shipOpt = items.product.ship_prices_for(@current_user) %>
	    <tr>
		  <td>
			<input type="radio" name="optionsRadios" id="optionsRadios1" value=0 onclick="shipChoices(value)">
			<%= shipOpt[0][0] %>
		  </td>
		  <td class="right"><b>$<%= number_with_precision(ship0/100.0, :precision => 2) %></b>
		  </td>
	    </tr>
	    <tr>
		  <td>
			<input type="radio" name="optionsRadios" id="optionsRadios2" value=1 onclick="shipChoices(value)">
			<%= shipOpt[1][0] %>
		  </td>
		  <td class="right"><b>$<%= number_with_precision(ship1/100.0, :precision => 2) %></b>
		  </td>
	    </tr>
	    <tr>
		  <td>
			<input type="radio" name="optionsRadios" id="optionsRadios3" value=2 onclick="shipChoices(value)">
			<%= shipOpt[2][0] %>
		  </td>
		  <td class="right"><b>$<%= number_with_precision(ship2/100.0, :precision => 2) %></b>
		  </td>
	    </tr>
	    <tr>
		  <td>
			<input type="radio" name="optionsRadios" id="optionsRadios3" value=3 onclick="shipChoices(value)">
			<%= shipOpt[3][0] %></td>
		  <td class="right"><b>$<%= number_with_precision(ship3/100.0, :precision => 2) %></b>
		  </td>
	    </tr>
	    <tr>
		  <td>
			<input type="radio" name="optionsRadios" id="optionsRadios5" value=4 onclick="shipChoices(value)">
			<%= shipOpt[4][0] %>
		  </td>
		  <td class="right"><b>$<%= number_with_precision(ship4/100.0, :precision => 2) %></b>
		  </td>
	    </tr>
	    <tr>
		  <td>
			<input type="radio" name="optionsRadios" id="optionsRadios6" value=5 onclick="shipChoices(value)">
			<%= shipOpt[5][0] %></td>
		  <td class="right"><b>$<%= number_with_precision(ship5/100.0, :precision => 2) %></b>
		  </td>
	    </tr>
	    <tr>
		  <td>
			<input type="radio" name="optionsRadios" id="optionsRadios7" value=6 onclick="shipChoices(value)">
			<%= shipOpt[6][0] %></td>
		  <td class="right"><b>$<%= number_with_precision(ship6/100.0, :precision => 2) %></b>
		  </td>
	    </tr>
      </tr>	    
   </table>

<!--
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
<script type="text/javascript">
    //var lastSelected;
    var currentSelected;
    $(function () {
        //if you have any radio selected by default
        currentSelected = $('[name="optionsRadios"]:checked').val();
	alert("radio box with value " + $('[name="optionsRadios"][value="' + currentSelected + '"]').val() + " is currently selected");
	<% @order.total_price = shipTotal = ship1 %>
	
    });
    $(document).on('click', '[name="optionsRadios"]', function () {
      currentSelected = $(this).val();
        if (currentSelected == $(this).val() && typeof currentSelected != "undefined") {
            alert("radio box with value " + $('[name="optionsRadios"][value="' + currentSelected + '"]').val() + " is now selected");
	    var shipValue = $('[name="optionsRadios"][value="' + currentSelected + '"]').val();
	    alert("currentSelected = " + parseInt($('[name="optionsRadios"][value="' + currentSelected + '"]').val()));
	    alert("ShippingCost0 = " + <%=  shipTotal %>);
	    
	    if(parseInt(currentSelected) == 0) { <% shipTotal = ship0 %>; <% @order.total_price = shipTotal/100.0 %>; alert("ShippingCost0 = " + <%= shipTotal/100.0 %>); }
	    else
	    if(parseInt(currentSelected) == 1) { <% shipTotal = ship1 %>; <% @order.total_price = shipTotal/100.0 %>; alert("ShippingCost0 = " + <%= shipTotal/100.0 %>); }
	    else
	    if(parseInt(currentSelected) == 2) { <% shipTotal = ship2 %>; <% @order.total_price = shipTotal/100.0 %>; alert("ShippingCost0 = " + <%= shipTotal/100.0 %>); }
	    else
	    if(parseInt(currentSelected) == 3) { <% shipTotal = ship3 %>; <% @order.total_price = shipTotal/100.0 %>; alert("ShippingCost0 = " + <%= shipTotal/100.0 %>); }
	    else
	    if(parseInt(currentSelected) == 4) { <% shipTotal = ship4 %>; <% @order.total_price = shipTotal/100.0 %>; alert("ShippingCost0 = " + <%= shipTotal/100.0 %>); }
	    else
	    if(parseInt(currentSelected) == 5) { <% shipTotal = ship5 %>; <% @order.total_price = shipTotal/100.0 %>; alert("ShippingCost0 = " + <%= shipTotal/100.0 %>); }
	    else
	    if(parseInt(currentSelected) == 6) { <% shipTotal = ship6 %>; <% @order.total_price = shipTotal/100.0 %>; alert("ShippingCost0 = " + <%= shipTotal/100.0 %>); }
	    
	    //alert("ShippingCost1 = " + <%= shipTotal %>);
	    

        }//End if
	//alert("ShippingCost2 = " + <%= shipTotal %>)
        //currentSelected = $(this).val();
	
    });//End function .onclick
    
</script>
-->

<%= @order.total_price = ship1/100.0  %>

<script>
      function shipChoices(val){
	    alert("value=" + val)
	    
	    switch(parseInt(val)) {
		  case 0: <% @order.total_price = ship0/100.0 %>; alert("order.total_price=" + <%= @order.total_price %>); break;
		  case 1: <% @order.total_price = ship1/100.0 %>; alert("order.total_price=" + <%= @order.total_price %>); break;
		  case 2: <% @order.total_price = ship2/100.0 %>; alert("order.total_price=" + <%= @order.total_price %>); break;
		  case 3: <% @order.total_price = ship3/100.0 %>; alert("order.total_price=" + <%= @order.total_price %>); break;
		  case 4: <% @order.total_price = ship4/100.0 %>; alert("order.total_price=" + <%= @order.total_price %>); break;
		  case 5: <% @order.total_price = ship5/100.0 %>; alert("order.total_price=" + <%= @order.total_price %>); break;
		  case 6: <% @order.total_price = ship6/100.0 %>; alert("order.total_price=" + <%= @order.total_price %>); break;
		  default: alert("Invalid Crap!")
	    }
	    
      }
</script>


 <br>
      <% if shipping == true %>
       <p><b>ShipCost: <%= @order.total_price %></b></p>
      <% end %> 
 <br>
 
   <div>
      <%= link_to 'Continue Shopping', get_location_else(orders_path), :class => "btn btn-small" %> 
       
      <% if emptyCart0 == false %>
      <%= link_to "Cancel Order", @order, :method => :delete,
      data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-warning" %>
      <% end %>
   </div>
</div>