<h4>My Shopping Cart</h4>

<br>

<!-- <h5>Items in this Order</h5> -->

<div>
      <!--  -->
  	<table border="0" cellspacing="0" class="table-striped"> <caption>Items in this Order</caption>
  		<tbody>
  			<!-- <tr class="cartHeader"> </tr> -->
  			<tr>
  				<!-- <th class="cartSelect" id="CartHeaderSelect">
  				<th><input type="checkbox" title="Select all items">
  					<label for="chkItemHeader"><span style="display: none;">Select all items</span></label>
					
  				</th>  cartQty cartDescription cartPrice -->
  				<th class="left" id="CartHeaderQty"> Qty. </th>
				<th class="left" id="CartHeaderDesc" style="width: 50%;"> Product(s) </th>
				<th class="left" id="CartHeaderPrice"> Total Price </th>
				<!-- <th>&nbsp</th> -->
  			</tr>
			
	<% itemstotal = 0 %>
	<% itemsTotalPrice = 0 %>
	<% subTotal = 0 %>
	<% @order.order_items.each do |order_item| %>
  			<tr>
  				<!-- <td class="cartSelect"> <input type="checkbox"></td> -->
  				<td class="left"> <input value = <%= order_item.quantity %> type="text"></td>
  				<td class="left">
  					<%= link_to image_tag("/assets/#{order_item.product.image}", :class => "", :size => "50x50"), order_item.product.image %>
  					<%= link_to order_item.product.name, order_item.product %>
  				</td>
			<!-- <%= link_to number_with_precision(itemsTotalPrice = order_item.product.price * order_item.quantity,  :precision => 2), order_item.product %> -->
				<td class="left"><b><%= number_with_precision(itemsTotalPrice, :precision => 2) %></b></td>
				<td>
				    <table> 
					  <tr>
						<td><%= link_to "Add another", "/orders/add/#{order_item.product.id}" %></td>
						<td><%= link_to "Remove one", "/orders/remove/#{order_item.product.id}" %></td>
						<td><%= link_to "Remove all", "/orders/removeall/#{order_item.product.id}" %></td>
						<td><%= link_to "Change Qty to 5", "/orders/updateqty/#{order_item.product.id}/5" %></td>
					  </tr>
				    </table>
				</td> 
  			</tr><!--
			<tr >
			      <table>
				    <tr>
					<td>&nbsp&nbsp&nbsp</td>  
					<td><%= link_to "Add another", "/orders/add/#{order_item.product.id}" %></td>
					<td><%= link_to "Remove one", "/orders/remove/#{order_item.product.id}" %></td>
					<td><%= link_to "Remove all", "/orders/removeall/#{order_item.product.id}" %></td>
					<td><%= link_to "Change Qty to 5", "/orders/updateqty/#{order_item.product.id}/5" %></td>
				    </tr>
			      </table>
			</tr> -->
	<% itemstotal += order_item.quantity %>
	<% subTotal += itemsTotalPrice %>
	<%= link_to "Cancel Order", "/orders/cancelOrder/#{order_item.product.id}" %> 

       <% end %>
       
      <tr>
	    <!-- <td>&nbsp</td> -->
	    <td>&nbsp</td>
	    <td>&nbsp</td>
	    <td><b>Order SubTotal: $<%= number_with_precision(subTotal, :precision => 2) %></b></td>
      </tr>
			
      <tr><td></td></tr>
    
    <br> 
    
	    </tbody>
       </table>    

 <br>
 <%= render 'form' %>

   <table>
      <tr>
	    <td>
	    <% if itemstotal > 0 %>
	    <%= link_to "Review Order", "/orders/purchase/#{@order.id}" %>
	    <% end %>
          </td><!--
          <td>&nbsp</td>
          <td><%= link_to "Continue Shopping", "/keywords/promoted" %></td> -->
      </tr>
   </table>

 <br>

 <br>

<%= link_to 'Continue Shopping', orders_path %>
</div>