<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @order.user.first_name %>
</p>

<p>
  <b>Total price:</b>
  <%= @order.total_price %>
</p>

<% @order.order_items.each do |order_item| %>
  <div>
    <strong>Name: </strong><%= link_to order_item.product.name, order_item.product %>
    <br>
    <strong>Quantity: </strong><%= order_item.quantity %>
  </div>
  <br>
<% end %>

<br>



<br>
<br>

<%= debug @order.order_items %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
