<!--<p id="notice"><%= notice %></p>-->
<% purchase = false %>
<% shipTo = false %>
<p>
 <b>User:</b>
  <%= @order.user.first_name %>
</p>

<% if @order.purchased %>
<p><b>Your Order Number is: 25</b><br>Thank You for your Purchase!
</p>
<% end %>

<!--
<p>
  <b>OrderNumber:</b>
  <%= @order.total_price %>
</p>
-->

  <div>
  	<table border="0" cellspacing="0" class="table table-bordered table-striped"> 
  		<tbody>
  			<tr>
  				<!-- <th class="cartSelect" id="CartHeaderSelect">
  				<th><input type="checkbox" title="Select all items">
  					<label for="chkItemHeader"><span style="display: none;">Select all items</span></label>
					
  				</th>  cartQty cartDescription cartPrice -->
  				<th class="left" id="CartHeaderQty"> Qty. </th>
				<th class="left" id="CartHeaderDesc" style="width: 50%;"> Product(s) </th>
				<th  class="left" id="CartHeaderPrice"> Price </th>
				<th class="left" id="CartHeaderTotalPrice"> Total Price </th>
  			</tr>
			
	<% itemstotal = 0 %>
	
	<% itemsTotalPrice = 0 %>
	<% subTotal = 0 %>
	<% @order.order_items.each do |order_item| %>
  			<tr>
  				<td class="left"> 
					<strong><%= order_item.quantity %></strong>
					<% if !@order.purchased %>
					<div class="btn-group" >
						<%= link_to "+", "/orders/add/#{order_item.product.id}", :class => "btn btn-mini", :title => "Add 1" %>
						<%= link_to "-", "/orders/remove/#{order_item.product.id}", :class => "btn btn-mini", :title => "Add 1" %>
						<%= link_to "x", "/orders/removeall/#{order_item.product.id}", :class => "btn btn-mini", :title => "Add 1" %>
					</div>
					<% end %>
				</td>
  				<td class="left">
  					<%= link_to image_tag(order_item.product.image.url(:small)), order_item.product %>
  					<%= link_to order_item.product.name, order_item.product %>
  				</td>
				<td><strong>$<%= number_with_precision(order_item.product.price, :precision => 2) %></strong></td>
			<!-- <%= link_to number_with_precision(itemsTotalPrice = order_item.product.price * order_item.quantity,  :precision => 2), order_item.product %> -->
				<td class="left"><b>$<%= number_with_precision(itemsTotalPrice, :precision => 2) %></b></td>
  			</tr>
	<% itemstotal += order_item.quantity %>
	<% subTotal += itemsTotalPrice %>
	 

       <% end %>
       
      <tr>
	    <td><strong><%= itemstotal %></strong></td>
	    <td>&nbsp</td>
	    <td>&nbsp</td>
	    <td><b>Total Before Tax: $<%= number_with_precision(subTotal, :precision => 2) %></b></td>
	    <% @order.total_price = subTotal %>
      </tr>
			
    <br> 
    
	    </tbody>
       </table>    
    
  </div>
  <br>

<br>

  <% if !@order.purchased %>
   <table>
      <tr>
	  <td>
	    
	    <%= link_to "Make Purchase", "/orders/purchase/#{@order.id}", :class => "btn btn-warning" %>
          </td>
          <td>&nbsp</td>
	  <td><%= link_to "Change Shipping Address OR Payment Method", "/users/#{@current_user.id}/edit", :class => "btn btn-warning" %></td>
	  <td>&nbsp</td>
          <td><%= link_to "Cancel Order", @order, :method => :delete, data:
	    { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
	  </td>
	  
      </tr>
      
   </table>
  
<br><div><b>Ship To:</b>
    <table>
      <tr>
	<td><%= @order.user.first_name %>&nbsp<%= @order.user.last_name %></td>
	
      </tr>
      <tr>
	<td><%= @order.user.address %>&nbsp&nbsp<%= @order.user.city %></td>
	<td>&nbsp</td>
      </tr>
      <tr>
	<td><%= @order.user.state %>&nbsp&nbsp<%= @order.user.zipcode %></td>
	<td>&nbsp</td>
      </tr>
      <tr>
	<td><%= @order.user.country %></td>
	<td>&nbsp</td>
      </tr>
      <tr>
	<td><b>Choose a Shipping speed:</b>
	  <label class="radio">
	    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	    Standard Shipping (3-5 business days) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>$4.99/ITEM</b>
	  </label>
	  <label class="radio">
	  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	  Two-Day Shipping --> Arrive by: <b><%= (Date.today + 2).to_s %> $6.32/ITEM</b>
	  </label>
	  <label class="radio">
	  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	  One-Day Shipping --> Arrive by: <b><%= (Date.today + 1).to_s %> $7.99/ITEM</b>
	  </label>
	</td>
	
	
	<td>
	  <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
	      <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
	    <td class="right">Taxes:</td><td><b>$</b></td><td class="right"><b>25.00</b></td>
	  </tr>
	  <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
	      <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
	    <td>Shipping & Hanldling:</td><td><b>$</b></td><td class="right"><b>35.00</b></td>
	  </tr>
	  <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
	      <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
	    <td class="right">Total:</td><td><b>$</b></td><td class="right"><b>7125.00</b></td>
	  </tr>
	</td>
	
      </tr>
    </table>
  </div>
<br>
  
<!-- <%= debug @order.order_items %> -->
    <% if !purchase %>
    <%= link_to 'Edit', edit_order_path(@order), :class => "btn btn-mini" %> 
    <% end %>
  <% end %>
  
   <%= link_to 'Continue Shopping', orders_path, :class => "btn btn-mini" %>