<p id="notice"><%= notice %></p>

<p>
 <b>User:</b>
  <%= @order.user.first_name %>
</p>

<p>
  <b>Total price:</b>
  <%= @order.total_price %>
</p>


  <div>
  	<table border="0" cellspacing="0" class="table table-striped">
  		<tbody>
  			<!-- <tr class="cartHeader"> </tr> -->
  			<tr>
  				<!-- <th class="cartSelect" id="CartHeaderSelect"> -->
  				<th><input type="checkbox" title="Select all items">
  					<label for="chkItemHeader"><span style="display: none;">Select all items</span></label>
  				</th>
  				<th class="cartQty" id="CartHeaderQty"> Qty. </th>
				<th class="cartDescription" id="CartHeaderDesc" style="width: 70%;"> Product Description </th>
				<th class="cartPrice" id="CartHeaderPrice"> Item Total Price	</th>
  			</tr>
			
<!--	</tbody>  			
  	</table>    -->
	<% itemstotal = 0 %>
	<% itemstotalPrice = 0 %>
	<% @order.order_items.each do |order_item| %>
<!--  	<table border="0" cellspacing="0" class="table"> 
  		<tbody> -->  		
  			<tr>
  				<td class="cartSelect"> <input type="checkbox"></td>
  				<td class="cartQty"> <input value=<%= order_item.quantity %> type="text" tabindex="1" rows="5" cols="5" size="2" maxlength="5"></td>
  				<td class="cartDescription">
  					<%= link_to image_tag("/assets/#{order_item.product.image}", :class => "", :size => "50x50"), order_item.product.image %>
  					<%= link_to order_item.product.name, order_item.product %>
  				</td>
  				<td><% order_item.price %></td>
  			</tr><!--
			<tr >
			      <table>
				    <tr>
					<td><%= link_to "Add another", "/orders/add/#{order_item.product.id}" %></td>
					<td><%= link_to "Remove one", "/orders/remove/#{order_item.product.id}" %></td>
					<td><%= link_to "Remove all", "/orders/removeall/#{order_item.product.id}" %></td>
					<td><%= link_to "Change quantity to 5", "/orders/updateqty/#{order_item.product.id}/5" %></td>
				    </tr>
			      </table>
			</tr>-->
			
    <!-- <strong>Name: </strong><%= link_to order_item.product.name, order_item.product %> -->
    <br>
    <!-- <strong>Quantity: </strong><%= order_item.quantity %> -->
		  </tbody>
       </table>    
    
  </div>
  <br>
<% end %>

<br>



<br>
<br>

<!-- <%= debug @order.order_items %> -->
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
