<div class="container-fluid">
<%= form_for(@user_type) do |f| %>
  <% if @user_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_type.errors.count, "error") %> prohibited this user_type from being saved:</h2>

      <ul>
      <% @user_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_wrapper">
    <div class="form_float"><!--left side column here-->

        <div class="form-horizontal">
          <div class="control-group">
            <%= f.label :name, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :name %>
            </div>
          </div>
        </div>

        <div class="form-horizontal">
          <div class="control-group">
            <%= f.label :purchase, :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :purchase %>
            </div>
          </div>
        </div>

        <div class="form-horizontal">
          <div class="control-group">
            <%= f.label :products, :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :products %>
            </div>
          </div>
        </div>

        <div class="form-horizontal">
          <div class="control-group">
            <%= f.label :products_edit, :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :products_edit %>
            </div>
          </div>
        </div>

        <div class="form-horizontal">
          <div class="control-group">
            <%= f.label :products_quantity, :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :products_quantity %>
            </div>
          </div>
        </div>

        <div class="form-horizontal">
          <div class="control-group">
            <%= f.label :help_edit, :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :help_edit %>
            </div>
          </div>
        </div>

        <div class="form-horizontal">
          <div class="control-group">
            <%= f.label :users_list, :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :users_list %>
            </div>
          </div>
        </div>

        <div class="form-horizontal">
          <div class="control-group">
            <%= f.label :orders_list, :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :orders_list %>
            </div>
          </div>
        </div>

        <div class="form-horizontal">
          <div class="control-group">
            <div class="controls">
              <%= f.submit :class => "btn btn-success" %>
            </div>
          </div>
        </div>

    </div>
  </div>
<% end %>
</div>
