<%= form_for(@user_type) do |f| %>
  <% if @user_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_type.errors.count, "error") %> prohibited this user_type from being saved:</h2>

      <ul>
      <% @user_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :purchase %><br />
    <%= f.check_box :purchase %>
  </div>
  
  <div class="field">
    <%= f.label :products %><br />
    <%= f.check_box :products %>
  </div>
  
  <div class="field">
    <%= f.label :products_edit %><br />
    <%= f.check_box :products_edit %>
  </div>
  
  <div class="field">
    <%= f.label :products_quantity %><br />
    <%= f.check_box :products_quantity %>
  </div>
  
  <div class="field">
    <%= f.label :help_edit %><br />
    <%= f.check_box :help_edit %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
