<legend>Showing User Type</legend>

<table class = "table table-bordered table-striped">
  <tr>
    <td> <b> Name: </b> </td>
    <td> <%= @user_type.name %> </td>
  </tr>

<tr>
  <td><b>Purchase:</b></td>
  <td><%= @user_type.purchase %></td>
</td>

<tr>
  <td><b>Products:</b></td>
  <td><%= @user_type.products %></td>
</tr>

<tr>
  <td><b>Products Edit:</b></td>
  <td><%= @user_type.products_edit %></td>
</tr>

<tr>
  <td><b>Products Quantity:</b></td>
  <td><%= @user_type.products_quantity %></td>
</tr>

<tr>
  <td><b>Help Edit:</b></td>
  <td><%= @user_type.help_edit %></td>
</tr>

<tr>
  <td><b>Users List:</b></td>
  <td><%= @user_type.users_list %></td>
</tr>

<tr>
  <td><b>Orders List:</b></td>
  <td><%= @user_type.orders_list %></td>
</tr>
</table>

<%= link_to 'Edit', edit_user_type_path(@user_type), :class => "btn btn-warning" %>
<%= link_to 'Back', user_types_path, :class => "btn" %>
