<h1>TODO: ADD EMAIL FORM</h1>
<h1>Listing FAQs</h1>

<table>
  <tr>
    <th>Question Title</th>
    <th>Question Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @help_items.each do |help_item| %>
  <tr>
    <td><%= help_item.title %></td>
    <td><%= help_item.text %></td>
    <td><%= link_to 'Show', help_item %></td>
    <td><%= link_to 'Edit', edit_help_item_path(help_item) %></td>
    <td><%= link_to 'Destroy', help_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New FAQ (employees only)', new_help_item_path %>

<br> <br>
<a class="btn primary" href="mailto:help@hologramsinc.com">E-mail us!</a>
