<legend>Help and FAQs</legend>

<%# Creating the table for FAQ %>
<table class="table table-bordered table-striped">
  <%# First line to define colomns %>
  <tr>
    <th>Question</th>
    <th>Answer</th>
	<% if @current_user&&@current_user.user_type.help_edit %>
		<th colspan="3">FAQ Management</th>
	<% end %>
  </tr>
  <%# Make a row for each entry in the FAQ %>
<% @help_items.each do |help_item| %>
  <tr>
    <td><%= help_item.title %></td>
    <td><%= help_item.text %></td>
	<% if @current_user&&@current_user.user_type.help_edit%>
		<td><%= link_to "Edit", "/help_items/#{help_item.id}/edit", :class => "btn"  %></td>
		<td><%= link_to "Delete", help_item, :method =>"delete", data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
	<% end %>
  </tr>
<% end %>
</table>

<%# if the user is allowed to edit the help files, thenlet them see this link.%>
<%= if @current_user&&@current_user.user_type.help_edit then link_to 'Create New FAQ Item', new_help_item_path, :class =>"btn btn-success"  end %>

<a class="btn" href="mailto:help@hologramsinc.com">E-mail us!</a>
