<legend>Viewing FAQ item</legend>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @help_item.title %>
</p>

<p>
  <b>Text:</b>
  <%= @help_item.text %>
</p>


<%= link_to "Edit", "/help_items/#{@help_item.id}/edit", :class => "btn"  %>
<%= link_to 'Back to FAQ table', help_items_path, :class =>"btn" %>

