<% count=0 %>

<% @keyword.products.each do |product| %>

	<%= raw "<div class=\"row-fluid\">" if (count%5==0) %>

		<div class="span2">

			<a href="#">
				<h5><%= link_to product.name, product %></h5>
				<%= link_to image_tag("/assets/#{product.image}"), product %>
				<br/>
				Rating: <%= ("<i class=icon-thumbs-up></i>" * product.rating).html_safe %>
				<br/>
				<strong>$<%= product.price %></strong>
			</a>
		</div>
		
	<%= raw "</div>" if (count%5==4) %>
	
	<% count+=1 %>
	
<% end %>