<% count=0 %>
<ul class="thumbnails">
	<% @products.each do |product| %>
		<%= raw "<div class=\"row-fluid\">" if (count%4==0) %>
			<li class="span3">
				<div class="thumbnail">
						<%= link_to image_tag(product.image.url(:medium)), product %>
						<h5><%= link_to smart_truncate(product.name,40), product%></h5>
					<p>
						Price: <strong>$<%= number_with_precision(product.price, :precision => 2) %></strong>
						</br>
						<% if product.sale_price %>
						Sale price: <strong>$<%= number_with_precision(product.sale_price, :precision => 2) %></strong>
						</br>
						You save <strong><%= product.sale_markdown %>%!!</strong>
						</br>
						<% end %>
						<!--
						Ratings not yet enabled.
						Rating: <%#<%= ("<i class=icon-thumbs-up></i>" * product.rating).html_safe %>
						-->
					</p>
					<p class="controls">
						<%if (!@current_user || @current_user.user_type.purchase) %>
							<% if product.stock>0 %>
								<%= link_to "Add to Cart", "/orders/add/#{product.id}", :class => "btn btn-small btn-warning" %>
							<% else %>
								<button type="button" class="btn btn-small btn-inverse disabled" disabled="disabled">Out of stock</button>
							<% end %>
							
						<% else %>
							<button type="button" class="btn btn-small btn-inverse disabled" disabled="disabled">Purchase not permitted.</button>
						<% end %>
						<%= link_to "Details", product, :class => "btn btn-small " %>
					</p>
				</div>	
			</li>
			
		<%= raw "</div>" if (count%4==3) %>
		<% count+=1 %>
	<% end %>
</ul>
