<% count=0 %>
<% @keyword.products.each do |product| %>

	<%= raw "<div class=\"row-fluid\">" if (count%5==0) %>

		<div class="span2">

			<a href="#">
				<h5><%= product.name %></h5>
				<img src="/assets/<%= product.image %>" class="img-polaroid"><br/>
				Rating: <i class=icon-thumbs-up></i><i class=icon-thumbs-up></i><i class=icon-thumbs-up></i><i class=icon-thumbs-up></i><i class=icon-thumbs-up></i><br/>
				<strong>$<%= product.price %></strong>
			</a>
		</div>
		
	<%= raw "</div>" if (count%5==4) %>
	
	<% count+=1 %>
	
<% end %>