<% count=0 %>
<ul class="thumbnails">
	<% @keyword.products.each do |product| %>

		<%= raw "<div class=\"row-fluid\">" if (count%4==0) %>

			<li class="span3">
				<div class="thumbnail">
						<%= link_to image_tag(product.image.url(:medium)), product %>
					<div class="caption">
						<h5><%= link_to smart_truncate(product.name,40), product%></h5>
					<p>
						Price: <strong>$<%= number_with_precision(product.price, :precision => 2) %></strong>
						</br>
						Rating: <%= ("<i class=icon-thumbs-up></i>" * product.rating).html_safe %>
					</p>
					<p>
						<%= link_to "Add to Cart", "/orders/add/#{product.id}", :class => "btn btn-small btn-warning" %>
						<%= link_to "Details", product, :class => "btn btn-small " %>
					</p>
					</div>
				</div>	
			</li>
			
		<%= raw "</div>" if (count%4==3) %>
		
		<% count+=1 %>
	<% end %>
</ul>
