<%= form_for @product, :url => product_path, :html => { :multipart => true} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_wrapper">
    <div class="form_float">
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :name, :class => "control-label"%>
          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :description, :class => "control-label"%>
          <div class="controls">
            <%= f.text_area :description %>
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="controls">
          <%= f.submit %>
        </div>
      </div>
    </div>
    
    <div class="form_float">
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :price, :class => "control-label"%>
          <div class="controls">
            <%= f.text_field :price %>
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :image, :class => "control-label"%>
          <div class="controls">
            <%= image_tag @product.image.url(:small) %>
            <%= f.file_field  :image %>
          </div>
        </div>
      </div>
    
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :stock, :class => "control-label"%>
          <div class="controls">
            <%= f.number_field :stock %>
          </div>
        </div>
      </div>
    
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :public, :class => "control-label"%>
          <div class="controls">
            <%= f.check_box :public %>
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :weight, :class => "control-label"%>
          <div class="controls">
            <%= f.text_field :weight %>
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :height, :class => "control-label"%>
          <div class="controls">
            <%= f.text_field :height %>
          </div>
        </div>
      </div>
    
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :length, :class => "control-label"%>
          <div class="controls">
            <%= f.text_field :length %>
          </div>
        </div>
      </div>
    
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :width, :class => "control-label"%>
          <div class="controls">
            <%= f.text_field :width %>
          </div>
        </div>
      </div>
    
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :rating, :class => "control-label"%>
          <div class="controls">
            <%= f.text_field :rating %>
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :keywords, :class => "control-label"%>
          <div class="controls">
            <%= select_tag("keyword_ids", options_for_select(@keywords.collect { |keyword| [keyword.name, keyword.id] }, @product.keywords.collect { |keyword| keyword.id}), {:multiple=>true, :size=>6})%>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
