<%= form_for @product, :url => product_path, :html => { :multipart => true} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_wrapper">
    <div class="form_float">
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :name, :class => "control-label"%>
          <div class="controls">
            <% if  (@current_user && @current_user.user_type.products_edit) %>
              <%= f.text_field :name %>
            <% else %>
              <%= f.text_field :name, :disabled => 'disabled' %>
            <% end %>  
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :description, :class => "control-label"%>
          <div class="controls">
            <% if  (@current_user && @current_user.user_type.products_edit) %>
              <%= f.text_area :description %>
            <% else %>
              <%= f.text_area :description, :disabled => 'disabled' %>
            <% end %> 
          </div>
        </div>
      </div>

      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :keywords, :class => "control-label"%>
          <div class="controls">
          <% if  (@current_user && @current_user.user_type.products_edit) %>
            <%= select_tag("keyword_ids", options_for_select(@keywords.collect { |keyword| [keyword.name, keyword.id] }, @product.keywords.collect { |keyword| keyword.id}), {:multiple=>true, :size=>6})%>
          <% else %>
            <%= select_tag("keyword_ids", options_for_select(@keywords.collect { |keyword| [keyword.name, keyword.id] }, @product.keywords.collect { |keyword| keyword.id}), {:multiple=>true, :size=>6, :disabled=>'disabled'})%>
          <% end %> 
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="controls">
          <%= f.submit :class => "btn btn-success"%>
        </div>
      </div>
    </div>
    
    <div class="form_float">
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :price, :class => "control-label"%>
          <div class="controls">
            <% if  (@current_user && @current_user.user_type.products_edit) %>
              <%= f.text_field :price %>
            <% else %>
              <%= f.text_field :price, :disabled => 'disabled' %>
            <% end %> 
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :image, :class => "control-label"%>
          <div class="controls">
          <%= image_tag @product.image.url(:small) %>
            <% if  (@current_user && @current_user.user_type.products_edit) %>
              <%= f.file_field  :image %>
            <% else %>
            <% end %> 
          </div>
        </div>
      </div>
    
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :stock, :class => "control-label"%>
          <div class="controls">
            <% if  (@current_user && @current_user.user_type.products_quantity) %>
              <%= f.number_field  :stock %>
            <% else %>
              <%= f.number_field  :stock, :disabled => 'disabled' %>
            <% end %> 
          </div>
        </div>
      </div>
    
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :public, :class => "control-label"%>
          <div class="controls">
            <% if  (@current_user && @current_user.user_type.products_edit) %>
              <%= f.check_box  :public %>
            <% else %>
              <%= f.check_box  :public, :disabled => 'disabled' %>
            <% end %> 
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :weight, :class => "control-label"%>
          <div class="controls">
            <% if  (@current_user && @current_user.user_type.products_edit) %>
              <%= f.text_field  :weight %>
            <% else %>
              <%= f.text_field  :weight, :disabled => 'disabled' %>
            <% end %> 
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :height, :class => "control-label"%>
          <div class="controls">
            <% if  (@current_user && @current_user.user_type.products_edit) %>
              <%= f.text_field  :height %>
            <% else %>
              <%= f.text_field  :height, :disabled => 'disabled' %>
            <% end %> 
          </div>
        </div>
      </div>
    
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :length, :class => "control-label"%>
          <div class="controls">
            <% if  (@current_user && @current_user.user_type.products_edit) %>
              <%= f.text_field  :length %>
            <% else %>
              <%= f.text_field  :length, :disabled => 'disabled' %>
            <% end %> 
          </div>
        </div>
      </div>
    
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :width, :class => "control-label"%>
          <div class="controls">
            <% if  (@current_user && @current_user.user_type.products_edit) %>
              <%= f.text_field  :width %>
            <% else %>
              <%= f.text_field  :width, :disabled => 'disabled' %>
            <% end %> 
          </div>
        </div>
      </div>
    
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :rating, :class => "control-label"%>
          <div class="controls">
            <%= f.text_field :rating %>
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label :sale_id, :class => "control-label"%>
          <div class="controls">
          <% if  (@current_user && @current_user.user_type.sales_edit) %>
             <%= select_tag("sale_id", options_for_select(@sales.collect { |sale| [sale.name, sale.id] }, @product.sale_id), {:include_blank => true, :size=>3})%>
            </br><%= link_to 'Create a new sale', new_sale_path, :class => "btn btn-info btn-small" %>
          <% else %>
            <%= select_tag("sale_id", options_for_select(@sales.collect { |sale| [sale.name, sale.id] }, @product.sale_id), {:include_blank => true, :size=>3,:disabled=>'disabled'})%>
          <% end %> 
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
