<h1>Listing products</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Image</th>
    <th>Stock</th>
    <th>Public</th>
	<%#Make top of the tables%>
	<% if current_user %>
		<% if current_user.user_type.products %>
			<th></th>
		<%end%>
		<% if current_user.user_type.products_edit %>
			<th></th>
		<%end%>
		<% if current_user.user_type.products_edit %>
			<th></th>
		<%end%>
	<%end%>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= product.image %></td>
    <td><%= product.stock %></td>
    <td><%= product.public %></td>
	
	<%#Make relevant columns of the tables%>
	<% if current_user %>
		<% if current_user.user_type.products %>
			<td><%= link_to 'Show', product, :class => "btn" %></td>
		<%end%>
		<% if current_user.user_type.products_edit %>
			   <td><%= link_to 'Edit', edit_product_path(product), :class => "btn" %></td>
		<%end%>
		<% if current_user.user_type.products_edit %>
			   <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
		<%end%>
	<%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
