<legend>All Products</legend>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Sale price</th>
    <th>Image</th>
    <th>Stock</th>
    <th>Public</th>
	<%#Make top of the tables%>
	<% if current_user %>
		<% if current_user.user_type.products %>
			<th></th>
		<%end%>
		<% if current_user.user_type.products_edit %>
			<th></th>
		<%end%>
		<% if current_user.user_type.products_edit %>
			<th></th>
		<%end%>
	<%end%>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= number_with_precision(product.price, :precision => 2) %></td>
    <td><%= if (product.sale_price)
               number_with_precision(product.sale_price, :precision => 2)
            end  %></td>
    <td><%= link_to "View Image", product.image.url, :class => "btn" %></td>
    <td><%= product.stock %></td>
    <td><%= product.public %></td>
	
	<%#Make relevant columns of the tables%>
	<% if current_user %>
		<% if current_user.user_type.products %>
			<td><%= link_to 'Show', product, :class => "btn btn-info" %></td>
		<%end%>
		<% if current_user.user_type.products_edit %>
			   <td><%= link_to 'Edit', edit_product_path(product), :class => "btn btn-warning" %></td>
		<%end%>
		<% if current_user.user_type.products_edit %>
			   <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
		<%end%>
	<%end%>
  </tr>
<% end %>
</table>


<%= link_to 'New Product', new_product_path, :class=> "btn btn-success" %>
