<p id="notice"><%= notice %></p>

<p>
  <%= link_to "Add to Cart", "/orders/add/#{@product.id}" %>
</p>
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Image:</b>
  <%= @product.image %>
</p>

<p>
  <b>Stock:</b>
  <%= @product.stock %>
</p>

<p>
  <b>Public:</b>
  <%= @product.public %>
</p>

<p>
  <b>Weight:</b>
  <%= @product.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @product.height %>
</p>

<p>
  <b>Length:</b>
  <%= @product.length %>
</p>

<p>
  <b>Width:</b>
  <%= @product.width %>
</p>

<p>
  <b>Keywords</b>
  <%= @product.keywords %>
</p>

<%= debug @product %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<br>