<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :markdown %>
    <%= f.text_field :markdown %>
  </div>
  <div class="field">
    <%= f.label :start %>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %>
    <%= f.datetime_select :end, :default => 1.days.from_now %>
  </div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-success"%>
  </div>
<% end %>
