<legend>
  Listing sales
  <span class="titleButton">
    <%= link_to 'New Sale', new_sale_path, :class=>"btn btn-success" %>
  </span>
</legend>

<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Markdown</th>
    <th>Start</th>
    <th>End</th>
	<th colspan="3">Sales Management</th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.name %></td>
    <td><%= sale.markdown %></td>
    <td><%= sale.start %></td>
    <td><%= sale.end %></td>
    <td><%= link_to 'Show', sale, :class=>"btn btn-info" %></td>
    <% if @current_user&&@current_user.user_type.sales_edit %>
		<td><%= link_to 'Edit', edit_sale_path(sale), :class=>"btn btn-warning" %></td>
    	        <td><%= link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></td>
	<% end %>
  </tr>
<% end %>
</table>