<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sale.name %>
</p>

<p>
  <b>Markdown:</b>
  <%= @sale.markdown %>
</p>

<p>
  <b>Start:</b>
  <%= @sale.start %>
</p>

<p>
  <b>End:</b>
  <%= @sale.end %>
</p>
<p>
  <b>Products:</b>
   <%= @products = Product.where("sale_id = ?", @sale.id)
   # Sully -- why is this not working?
   @products.each {|product| print product.name }
   %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
