<!DOCTYPE html>
<html>
<head>
  <title>ProjectCourse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
 </style>
 
</head>
<body>

<div id="user_nav" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">	<img src="/assets/HoloIncTransSmall.png" alt="Holograms Inc Logo" width="133" height="30"/> </a>
			<ul class="nav">
				<% if current_user %>
					<li> Logged in as <%= current_user.email_address %>. </li>
					<li> <%= link_to "Log out", log_out_path %> </li>
				<% else %>
					<li> <%= link_to "Sign up", sign_up_path %></li>
					<li> <%= link_to "Log in", log_in_path %> </li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div class="row-fluid">
		<div id="category_bar" class="span3">

			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-heaver">Browse By Category</li>
					<% #may want to check if there are any, not sure what happens on empty list %>
					<% @keywords.each do |keyword| %>
							<li class>
								<a href="#">
									<%= keyword.name %>
								</a>
							</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div id="everything_else" class="span9">
			
			<%= yield %>

		</div>
	</div>
</div>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

</body>
</html>
