<!DOCTYPE html>
<html>
<head>
  <title>ProjectCourse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
 </style>
 
</head>
<body>

<div id="user_nav" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
		    <ul class="nav">
				<li>
					<a class="brand" href="/"><img src="/assets/HoloIncTransSmallFlat.png" alt="Holograms Inc Logo" width="200" height="22"/> </a>
				</li>
			</ul>
			<ul class="nav pull-right">
				
				<% if current_user %>
					<li> <a href="#">Logged in as <%= current_user.email_address %> </a> </li>
					<li> <%= link_to "Log out", log_out_path %> </li>
				<% else %>
					<li> <%= link_to "Sign up", sign_up_path %></li>
					<li> <%= link_to "Log in", log_in_path %> </li>
				<% end %>
				
				<li> <a href="#">View cart - # items </a> </li>
				
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div id="category_bar" class="span2">

			<div class="well">
				<ul class="nav navbar-inverse nav-list">
					<li class="nav-heaver"><h5>Categories</h5></li>
					<li class="divider"></li>
					<% @keywords.each do |keyword| %>
							<li class>
								<a href="#">
									<%= keyword.name %>
								</a>
							</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div id="everything_else" class="span10">
			
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>
			
			<%= yield %>
	
	</div>
	</div>
</div>

</body>
</html>
