<!DOCTYPE html>
<html>
<head>
  <title>ProjectCourse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
 </style>
 
</head>
<body>

<%# Using inverse navbar for employee access to make UI distinct %>
<div id="user_nav" class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		
			<%# link to employee. This link is currently broken, need to add a route or remove it%>
			<a class="brand" href="/employee">	Employee Access </a>
			
			
			<ul class="nav" role="navigation">
			
				<%#Stuff for Inventory Management goes here%>
				<%if current_user.user_type.products %>
					<li class="dropdown">
						<!--This makes the label for the dropdown -->
						<a id="inventory_dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
							Inventory
							<b class="caret"></b>
						</a>
						<!--Here goes the list that drops down-->
						<ul class="dropdown-menu" role="menu" aria-labeledby="inventory_dropdown">
							<li>
								<a tabindex="-1" href="#">TODO</a>
							</li>
						</ul>
					</li>
				<%end%>
			
			</ul>
			
			
			<%# These items will be on the right side of the nav bar %>
			<ul class="nav pull-right">
				
				<% if current_user %>
					
					<li> 
						<%# Wrapped logged in messaage in anchor tags to center in navbar (bootstap is weird) %>
						<a> Logged in as <%= current_user.email_address %>. </a> 
					</li>
					<li> <%= link_to "Log out", log_out_path %> </li>
				<% end %>
				
			</ul>
		</div>
	</div>
</div>


<%= yield %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

</body>
</html>
